.SignInForm {
    height: 420px;
    width: 400px;
    background-color: #090909;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 42%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 0;
    box-shadow: 0 0 40px #070707;
    padding: 50px 35px;
}