.wrapper {
    display: flex;

    height: 100%;
    width: 100%;

    align-items: center;
    justify-content: center;
}

.SignInForm {
    height: 400px;
    width: 300px;
    background-color: #090909;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 0;
    box-shadow: 0 0 40px #070707;
    padding: 50px 35px;
}

.text-input {
    margin-bottom: 35px;
}

.link {
    color: #ff006d;
    text-decoration: none
}

