.FormButton {
    background: linear-gradient(to bottom right, #b30047, #5b0123);
    margin-top: 15px;
    width: 100%;
    height: 50px;

    border: 0;
    border-radius: 5px;
    color: inherit;

    cursor: pointer;
    display: inline-block;

    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    line-height: 2;

    outline: transparent;

    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;

}

.SignUpForm {
    height: 34%;
    background-color: #090909;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 0;
    box-shadow: 0 0 40px #070707;
    padding: 40px 35px;
}

.FormH3 {
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 8px;

}

.label {
    display: block;
    margin-top: 24px;
    font-size: 18px;

}

.input {

    display: block;
    height: 45px;
    width: 96%;
    background-color: #151515;
    border: 0;
    padding: 0 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 17px;
    color: #989898;

}

::placeholder {
    color: #989898;
}
