.page-footer {
    width: calc(100% - 70px);
    height: 70px;
    display: flex;


    justify-content: space-between;
    align-items: center;

    background-color: #090909;
    box-shadow: 0 0 40px #070707;

    padding: 0 35px;
    bottom: 0;

}
