@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #181818;
  color: white;
  font-family: 'Rubik', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div-center {
  text-align: center;
}
.div-text {
  font-size: 24px;
  padding-top: 2px;
  padding-left: 15px;
  width: 700px;


}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  margin-top: 0;

  font-size: 40px;

}

.sub-title {
  width: 700px;
  align-items: left;
  display: flex;
  margin: 1px;

}

.div-title {
  width: 700px;
  align-items: left;
  display: flex;
  margin: 1px;

  font-size: 30px;

}


p {
  text-align: left;
  margin-top: 6px ;
  margin-bottom: 6px;
}
