.page-header {
    width: calc(100% - 70px);
    height: 70px;
    display: flex;

    justify-content: space-between;
    align-items: center;

    background-color: #090909;

    padding: 0 35px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 40px #070707;
}

.button {
    margin-left: 8px;
    background: linear-gradient(to bottom right,#b30047, #5b0123);
    border: 0;
    width: 89.75px;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 550;
    line-height: 2.5;
    transition: box-shadow .2s ease-in-out;


}

.header-button {
    margin-left: 10px;
    border: 0;
    color: #FFFFFF ;
    background-color: #090909 ;
    cursor: pointer;

    font-family: 'Rubik', sans-serif;
    font-size: 21px;
    font-weight: 550;
    line-height: 2.8;

    width: 91px;

    border-bottom: 4px solid;
    border-bottom-color: #c00051;

}
