.page-header {
    width: calc(100% - 70px);
    height: 70px;
    display: flex;


    justify-content: space-between;
    align-items: center;

    background-color: #090909;

    padding: 0 35px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 40px #070707;
}

.button {
    margin-left: 8px;
    background: linear-gradient(to bottom right,#b30047, #5b0123);
    border: 0;
    width: 89.75px;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 550;
    line-height: 2.5;
    transition: box-shadow .2s ease-in-out;


}

.header-button {
    display: inline-flex;
    margin-left: 10px;
    border: none;
    color: #FFFFFF ;
    background-color: transparent;
    cursor: pointer;

    /*font-family: 'Rubik', sans-serif;*/
    align-items: center;
    justify-content: center;

    font-size: 21px;
    font-weight: 700;
    height: 60px;

    width: 91px;

    text-decoration: none;

    border-bottom: 4px solid;
    border-bottom-color: #6c002e;

    transition-property: background-color, border-bottom-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in;
}

.header-button.active {
    border-bottom-color: #ce0057;
}

.header-button:hover {
    background-color: rgba(255, 255, 255, 0.032);
}