.page-header {
    width: calc(100% - 70px);
    height: 70px;
    display: flex;

    justify-content: space-between;
    align-items: center;

    background-color: #090909;

    padding: 0 35px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 40px #070707;
}

.button {
    margin-left: 8px;
    background: linear-gradient(to bottom right, #800033, #b30047);
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;


}
