.product_img{
    float: left;
    display: inline-block;
    height: 16vh;


}

.product{
    float: right;
    display: inline-block;
    width: 65%;

}
.product_div{
    height: 20vh;
}
.prod_object {
    font-size: 24px;
}